.messages-container {
	overflow-y:scroll;
}

.message-container {
	width:100%;
	margin-bottom: 10px;
/* 	background-color: #9d9b9b; */
	padding: 5px;
}

.message-container .message-author {
	font-weight: 900;
	padding-bottom: 3px;
}

.message-container .message-author .time {
	font-weight: 200;
	font-size: 12px;
	padding-left: 10px;
	color: #dfdcdc;
}

.message-container .message-content {
	font-weight: 200;
}

.bottom {
  position:fixed;
  bottom:10px;
}
